*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Don't include this project folder as it only saves the SBT version for the dummy root build.sbt, which is
# only needed so that IntelliJ plays nice with the compiler subproject.
/project

# IntelliJ Idea
.idea

# Old Specification
main.pdf

# Lore
lore-program.js
test/lore.jar

# Deno
bundle.js

# Rust (VM)
vm/target
vm/Cargo.lock
