*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
/target/
compiler/target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/target/
project/project/target
.bsp/

# IntelliJ Idea
.idea

# Lore
lore-program.js
test/lore.jar

# Deno
test/target

# Rust (VM)
vm/target
vm/Cargo.lock

# Miscellaneous
scratch.txt
